@-webkit-keyframes show {
    0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity:0;
    }
    100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    }
}

@keyframes show {
    0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity:0;
    }
    100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    }
}

.site-logo-picture {
    width: 150px;
    height: 60px;
}

.fa-bell {
    font-size: 20px;
    margin: 0 15px;
    color: #c2c3c5;
    cursor: pointer;
}

.fa-bell:hover {
    color: #7c828e;
}

.profile-image {
    width: 20px;
    height: 20px;

    border-radius: 100%;
    cursor: pointer;
    border: 8px solid #f5c050;
    background-color: #f5c050;
}

.profile-image:hover {
    background-color: #fdb73e;
    border-color: #fdb73e;
}

.main-navigation,
.site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.main-header {
    width: 100%;
    padding: 10px 0;
    position: relative;
    background-color: #e8e6e6;

    -webkit-animation-name: show;

            animation-name: show;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

.header-container {
    margin: 0 auto;
    width: calc(100% - 160px);
}

.notifications {
    border: none;
    background: none;
    outline: none;
}

.profile-popup {
    display:none;
}

.profile-info:checked ~ .profile-popup {
    display: block;
}

.profile-popup {
    position: absolute;
    padding: 10px;
    width: 150px;
    height: 75px;
    top: 75%;
    right: 6%;
    text-align: center;
    background-color: white;
    -webkit-box-shadow: 0 0 10px 5px #cfd0d2;
            box-shadow: 0 0 10px 5px #cfd0d2;
}

.profile-popup p {
    padding-bottom: 5px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #c2c3c5;
    border-bottom: 2px solid #c2c3c5;
    cursor: default;
}

.sub-list-item {
    padding: 5px ;
    cursor: pointer;
    text-align: left;
}

.sub-list-item a {
    font-size: 16px;
    font-weight: 600;
    color: black;
    cursor: pointer;
}

.sub-list-item:hover {
    background-color:#f6f2f1;
}

@media (max-width: 768px) {

    .site-logo-picture {
        width: 120px;
        height: 40px;
    }

    .fa-bell {
        font-size: 12px;
        margin: 0 10px;
    }

    .profile-image {
        width: 15px;
        height: 15px;
        border: 5px solid #f5c050;
    }

    .header-container {
        width: calc(100% - 120px);
    }

    .profile-popup {
        position: absolute;
        padding: 10px;
        width: 110px;
        height: 60px;
        top: 75%;
        right: 8%;
        -webkit-box-shadow: 0 0 7px 5px #cfd0d2;
                box-shadow: 0 0 7px 5px #cfd0d2;
    }

    .profile-popup p {
        padding-bottom: 3px;
        font-size: 12px;
        border-bottom: 2px solid #c2c3c5;
    }

    .sub-list-item {
        padding: 3px ;
    }

    .sub-list-item a {
        font-size: 12px;
        font-weight: 600;
    }
}

@media (max-width: 420px) {

    .site-logo-picture {
        width: 70px;
        height: 20px;
    }

    .fa-bell {
        font-size: 10px;
        margin: 0 5px;
    }

    .profile-image {
        width: 10px;
        height: 10px;
        border: 4px solid #f5c050;
    }

    .header-container {
        width: calc(100% - 50px);
    }

    .main-header {
        padding: 5px 0;
    }

    .profile-popup {
        position: absolute;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        padding: 5px;
        width: 100%;
        top: 90%;
        right: 0%;
        -webkit-box-shadow: 0 0 5px 3px #cfd0d2;
                box-shadow: 0 0 5px 3px #cfd0d2;
    }

    .profile-popup p {
        font-size: 10px;
        padding-bottom: 5px;
        text-align: center;
    }

    .sub-list-item {
        padding: 0 ;
        text-align: center;
    }

    .sub-list-item a {
        font-size: 10px;
        font-weight: 600;
    }
}