.main-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: calc(100vh - 83px);
    text-align: center;
}

.error-code,
.error-message,
.error-explanation {
    padding: 5px 0;
}

 .fa-frown {
    font-size: 80px;
}

 .error-code {
    font-size: 50px;
}
    
.error-message {
    font-size: 20px;
    font-weight: 500;
}
    
.error-explanation {
    font-size: 12px;
}

@media (max-width: 768px) {

    .main-container {
        height: calc(100vh - 63px);
    }
    
    .error-code,
    .error-message,
    .error-explanation {
        padding: 3px 0;
    }
    
    .fa-frown {
        font-size: 60px;
    }
    
    .error-code {
        font-size: 40px;
    }
        
    .error-message {
        font-size: 15px;
    }
        
    .error-explanation {
        font-size: 10px;
    }
}

@media (max-width: 420px) {

    .main-container {
        height: calc(100vh - 33px);
    }
    
    .error-code,
    .error-message,
    .error-explanation {
        padding: 2px 0;
    }
    
     .fa-frown {
        font-size: 40px;
    }
    
     .error-code {
        font-size: 25px;
    }
        
    .error-message {
        font-size: 10px;
    }
        
    .error-explanation {
        font-size: 8px;
    }
}