@-webkit-keyframes show-error {
    0% {
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
    opacity:0;
    }
    100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    }
}

@keyframes show-error {
    0% {
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
    opacity:0;
    }
    100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    }
}

@-webkit-keyframes show-success {
    0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity:0;
    }
    100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    }
}

@keyframes show-success {
    0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity:0;
    }
    100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    }
}

.page-wrapper {
    position: relative;
}

.notification-list {
    position: fixed;
    width: 270px;
    right: 1%;
    bottom: 1%;
}

.notification-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-radius: 5px;
    padding: 15px;
    margin: 20px 0;
    color: white;
}

.error-item {
    -webkit-animation-name: show-error;
            animation-name: show-error;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;

    background-color: rgba(255, 0, 0, 0.7);
}

.success-item {
    -webkit-animation-name: show-success;
            animation-name: show-success;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
    -webkit-transform: translateY(200%);
        -ms-transform: translateY(200%);
            transform: translateY(200%);

    background-color: rgba(0, 128, 0, 0.7);
}

.notification-error-image,
.notification-success-image {
    width: 20px;
}

.notification-message {
    width: 210px;
    cursor: default;
}

.fa-exclamation,
.fa-check {
    border-radius: 100%;
    border: 3px solid white;
    background-color:  white;
}

.fa-exclamation {
    text-align: center;
    width: 13px;
    color: rgba(255, 0, 0, 0.7);
}

.fa-check {
    color: rgba(0, 128, 0, 0.7);
}

.notification-message-description {
    font-size: 16px;
}

@media (max-width: 768px) {

    .notification-list {
        width: 240px;
    }

    .notification-item {
        padding: 10px;
        margin: 15px 0;
    }

    .notification-message {
        width: 190px;
    }

    .fa-exclamation,
    .fa-check {
        border: 2px solid white;
    }

    .notification-message-description {
        font-size: 14px;
    }
}

@media (max-width: 420px) {

    .notification-list {
        width: 70%;
        right: 15%;
    }

    .notification-item {
        padding: 5px;
        margin: 10px 0;
    }

    .notification-message {
        width: 80%;
    }

    .fa-exclamation,
    .fa-check {
        border: 2px solid white;
    }

    .notification-error-image,
    .notification-success-image {
        width: 15%;
        text-align: center;
    }    

    .fa-exclamation {
        width: 13px;
    }

    h3 {
        font-size: 13px;
    }

    .notification-message-description {
        font-size: 12px;
    }
}